/* ===============================
   Custom Navbar Styles
   =============================== */
.custom-navbar-style {
  background-color: rgba(0, 0, 0, 0.445) !important;
  backdrop-filter: blur(20px);
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.resume-ul{
  list-style: none;
  
}

/* Toggle button (always top-right) */
.custom-toggle {
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 1050;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar collapse section */
.navbar-collapse {
  /* background-color: black; */
  padding-bottom: 10px;
  text-align: center;
  transition: all 0.3s ease;
}

/* ===============================
   Responsive behavior
   =============================== */
@media (max-width: 992px) {
  .custom-toggle {
    position: absolute;
    right: 20px;
    top: 15px;
    visibility: visible;   /* always visible */
  }

  .navbar-collapse {
    text-align: center;
    margin-top: 10px;
  }

  .navbar-nav .nav-link {
    display: block;
    margin: 10px 0;
  }
}
