.cutom-toggle{
  position: absolute;
  right: 20px;
  top: 12px;
  z-index: 1050;
}
.navbar-collapse{
  background-color: black;
  padding-bottom: 10px;
}
@media(max-width:992px){
  .navbar-collapse{
    text-align: center;
    
  }
}