

.status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.status-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: rgba(255, 255, 255, 0.08);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  padding: 6px 12px;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.1);
  transition: all 0.3s ease;
}

.status-dot {
  width: 10px;
  height: 10px;
  background-color: #00ff66;
  border-radius: 50%;
  box-shadow: 0 0 10px #00ff66;
  animation: pulse 1.5s infinite;
}

.status-text {
  letter-spacing: 0.5px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 4px #00ff66;
  }
  50% {
    box-shadow: 0 0 12px #00ff66;
  }
  100% {
    box-shadow: 0 0 4px #00ff66;
  }
}

/* ----------------------- */
/* Hero Section */
/* ----------------------- */

.hero-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  width: 100%;
}

.hero-heading {
  font-weight: 600;
  font-size: 2.5rem;
  color: #fff;
  line-height: 1.3;
  text-align: center;
}

.hero-heading span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 800;
  color: #e8efeb;
}



.hero-actions {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.connect-btn {
  background-color: rgba(255, 255, 255, 0.08);
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.connect-btn:hover {
  background-color: rgba(0, 255, 102, 0.2);
}

.email-text {
  font-size: 15px;
  color: #f0e4e4;
}
.email-copy {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.copy-icon {
  color: #ccc;
  transition: color 0.3s ease;
}
.email-text {
  font-size: 15px;
  color: #f0e4e4;
  margin: 0;
}

@media (min-width: 768px) {
  .hero-actions {
    flex-direction: row; 
  }

  .hero-heading {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .status-badge {
    font-size: 13px;
    padding: 5px 10px;
    gap: 6px;
  }
  .status-dot {
    width: 8px;
    height: 8px;
  }
}
